[Unit]
Description=mysqld_exporter
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=mysqld_exporter
Group=mysqld_exporter
Environment="DATA_SOURCE_NAME=exporter:{password}}!@(localhost:3306)/"
ExecStart=/usr/local/bin/mysqld_exporter

[Install]
WantedBy=multi-user.target